{% extends 'chat/base.html' %}

{% block content %}

<div style="margin-top:30px">
{% for mes in history %}
    {% if mes.sender_id == cur_id %}
      <div style="margin-left:200px; margin-top:20px">
    {% else %}
      <div style="margin-left:10px; margin-top:20px">
    {% endif %}
        <div>
          {{ mes.text}}
        </div>
        <div style="font-size:10">
          {{ mes.sended_time }}
        </div>
      </div>
{% endfor %}
</div>

<div style="margin-top:30px">
  <form method="post">
    {% csrf_token %}
        <textarea rows = "5" cols="50" name="message"></textarea>
        <br \>
        <button type="submit" >Send</button>
      </form>
</div>

{% endblock %}
